{% extends 'return-base.html' %}

{% load static %}
{% load external_url %}
{% load external_url_http %}

{% block title %}{{ author.display_name }}'s {{follow_type}}{% endblock %}

{% url 'user_management:author_profile' author.uuid as author_url %}
{% block return_href %}{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'user_management:author_profile' author.uuid %}{% endif %}{% endblock %}
{% block return_title %}Return to {{author.display_name}}{% endblock %}

{% block content %}
<div class="follow-infos">
    <h1>{{ follow_type }}</h1>
    {% for follow in follow_info %}
    <div class="follow-info">
        <a id="post-profile-select" href="{% url 'user_management:author_profile' follow.uuid %}{% if request.GET.next %}?next={{ request.get_full_path }}{% endif %}" class="names">
            {% if follow.profile_image %}
            <img class="profile-image" src="{{ follow.profile_image }}"/>
            {% endif %}
            <h3 class="display-name">{{ follow.display_name }}</h3>
            <h5 class="username">{{ follow.username }}</h5>
            {% if follow.host_node != viewer.host_node %}
                <a class="external-node-select" id="external-node-select-{{follow.author.host_node.host_url}}" href="{% external_url_http follow.host_node.host_url %}">
                    <!-- idea of how you could get a favicon for later, doesn't work rn because we're using vpns but maybe later
                    <img height="16" width="16" src='http://www.google.com/s2/favicons?domain={{follow.host_node.host_url}}' />
                    -->
                    <h6 class="external-tag" title="From External Node">@{% external_url follow.host_node.host_url %}</h6>
                </a>
            {% endif %}
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}
