{% extends 'base.html' %}
{% block title %}Following List of {{ author.username }}{% endblock %}
{% block content %}
<main class="following-list">
    <h2>Following List of {{ author.username }}</h2>
    {% if following %}
        <ul>
            {% for followee in following %}
                <li><a href="{% url 'socialnetwork:author_profile' followee.uuid %}">{{ followee.username }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Not following anyone yet.</p>
    {% endif %}
</main>
{% endblock %}

