{% extends "head.html" %}

{% load static %}
{% block body %}
<body>
    <section class="main">
        <div class="navbar">
            <section class="navbar-contents">
                <img class="logo" src="{% static 'images/firebrick.webp' %}" />
                {% if user.is_authenticated %}
                    <a id="navbar-own-profile" href="{% url 'user_management:author_profile' user.author.uuid %}" class="names">
                        {% if user.author.profile_image %}
                        <img id="navbar-profile-image" class="profile-image" src="{{ user.author.profile_image }}"/>
                        {% endif %}
                        <span id="navbar-display-name" class="text-names"><h3 class="display-name">{{ user.author.display_name }}</h3>
                        <h5 id="navbar-username" class="username">{{ user.author.username }}</h5></span>
                    </a>
                {% endif %}
                {% block navbar %}{% endblock %}
            </section>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        {% block right_panel %} {% endblock %}
    </section>
</body>
{% endblock %}
