{% load external_url %}
{% load external_url_http %}

<a class="external-node-select" id="external-node-select-{{host_url}}" href="{% if site_url %}{{ site_url }}{% else %}{% external_url_http host_url %}{% endif %}">
    <!-- idea of how you could get a favicon for later, doesn't work rn because we're using vpns but maybe later
    <img height="16" width="16" src='http://www.google.com/s2/favicons?domain={{site_url}}' />
    -->
    <h6 class="external-tag" title="From External Node">@{% if site_url %}{% external_url site_url %}{% else %}{% external_url host_url %}{% endif %}</h6>
</a>
