{# https://learndjango.com/tutorials/django-login-and-logout-tutorial #}
{# This template is used to render the login form (see src/project_firebrick/urls.py) #}

{% extends "head.html" %}

{% load static %}

{% block body %}

<main class="login-page" id="login">
  <section class="left-panel">
      <img class="logo" src="{% static 'firebrick.webp' %}" />
      <h1 class="title">Firebrick</h1>
  </section>
  <section class="right-panel">
      <h2 class="login-request">Log in</h2>
      <form method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="field-wrapper">
              {{ form.username.errors }}
              {{ form.username }}
          </div>
          <div class="field-wrapper">
              {{ form.password.errors }}
              {{ form.password }}
          </div>
          <input type="submit" value="Log In">
      </form>
      
  </section>
</main>
{% endblock %}