{% extends "head.html" %}

{% load static %}

{% block body %}

<main class="login-page" id="join">
    <section class="left-panel">
        <img class="logo" src="{% static 'firebrick.webp' %}" />
        <h1 class="title">Firebrick</h1>
    </section>
    <section class="right-panel">
        <h2 class="join-request">Request to Join</h2>
        <form name="generic-form" action="{% url 'adminpanel:api_create_join_request' %}" method="post">
            <div name="response-detail"></div>
            <div name="errorresponse-error"></div>
            {% csrf_token %}
            <input type="hidden" name="_method" value="POST">
            <div name="errorresponse-joinrequest__username"></div>
            <input name="username" type="text" placeholder="Username" required>
            <div name="errorresponse-joinrequest__password"></div>
            <input name="password" type="password" placeholder="Password" required>
            <input type="submit" value="Request to join">
        </form>
        <fieldset class="or-segment">
            <legend class="or-text">OR</legend>
            <a class="login" href="{% url 'login' %}">Log In</a>
        </fieldset>

    </section>
</main>

{% endblock %}
