<div class="post-submission-card">
    <form name="generic-form" action="{% url 'socialnetwork:api_textpost_create' %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="POST">
        <input type="hidden" name="_after_action" value="url:{% url 'socialnetwork:stream' %}">
        <div name="response-detail"></div>
        <div name="errorresponse-error"></div>
        <div name="errorresponse-post__content"></div>
        <textarea name="content" rows="4" cols="50"></textarea>
        <input name="author" type="hidden" value="{{ author.uuid }}">
        <br>
        <div name="errorresponse-post__post_type"></div>
        <select name="post_type">
            <option value="PT">Plaintext</option>
            <option value="MD">Markdown</option>
        </select>
        <div name="errorresponse-post__visibility_type"></div>
        <select name="visibility_type">
            <option value="PU">Public</option>
            <option value="UN">Unlisted</option>
            <option value="FO">Friends Only</option>
        </select>
        <br>
        <button type="submit">Post</button>
    </form>
</div>
