{# expects a post object as a models.Post subclass instance #}

{% load static %}
{% load check_liked %}

<article class="post-card{% if full %} post-full{% endif %}">
    {% if not full %}
        <a id="post-select" class="post-view" href="{% url 'posts:view_post' post.uuid %}?next={{ request.path|urlencode }}"></a>
    {% endif %}
    <header>
        <a id="post-profile-select" href="{% url 'user_management:author_profile' post.author.uuid %}" class="names">
            {% if post.author.profile_image %}
            <img class="profile-image" src="{{ post.author.profile_image }}"/>
            {% endif %}
            <h3 class="display-name">{{ post.author.display_name }}</h3>
            <h5 class="username">{{ post.author.username }}</h5>
        </a>
        {% if not full %}
        ·
        {% include 'components/post-meta.html' %}

        {% include 'components/post-visibility.html' %}
        {% endif %}

        {% if post.author == viewer %}
        <div id="settings-dropdown" class="settings">
            <img class="settings-dropdown" src="{% static 'svg/dots.svg' %}"/>
            <div class="settings-dropdown-content">
                {% url 'posts:view_post' post.uuid as view_post_url %}
                <a href="{% url 'posts:edit_post' post.uuid %}?next={% url 'posts:view_post' post.uuid %}{% if request.GET.next and request.GET.next != view_post_url %}?next={{ request.GET.next }}{% endif %}" class="edit-button">
                    <div class="setting">
                        <img class="edit-icon" title="Edit Post" src="{% static 'svg/editpost.svg' %}" />
                        Edit Post
                    </div>
                </a>
                <form name="generic-form" action="{% url 'posts:api_posts-detail' post.uuid %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_after_action" value="url:{{request.get_host}} url:{{request.GET.next}} reload confirm">
                    <input type="hidden" name="_confirm_text" value="Are you sure you want to delete this post?">
                    <button type="submit" class="delete-button">
                        <div class="setting delete">
                            <img class="delete-icon" title="Delete Post" src="{% static 'svg/delete.svg' %}" />
                            Delete Post
                        </div>
                    </button>
                </form>
            </div>
        </div>

        {% endif %}
    </header>

    <div class="post-content">
        {% if post.title %}
        <h2 id="post-title" class="post-title">{{ post.title }}</h2>
        {% endif %}
        {% if post.description %}
        <p id="post-description" class="post-description">{{ post.description }}</p>
        {% endif %}
        {% include post.get_template_name %} {# see posts.models.Post.get_template_name #}
    </div>

    <footer>
        {% if full %}
            <div class="post-info">
                {% include 'components/post-visibility.html' %}

                {% include 'components/post-meta.html' with full=True %}
            </div>
        {% endif %}
        <div class="likes-comments">
            <div class="comments-box">
                <img class="comments-icon" src="{% static 'svg/comment.svg' %}" />
                <span class="comments-count">{{post.comments.all|length}}</span>
            </div>
            <div class="likes-box">
                <form id="like-form" name="generic-form" action="{% url 'likes:like_by_viewer' post.fqid|urlencode:"" %}">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="POST">
                    <input type="hidden" name="_after_action" value="reload">
                    <button class="like-button" type="submit" {% if not viewer %}disabled{% endif %}>
                        {% check_liked viewer post as liked %}
                        {% if liked %}
                            <img class="like-icon liked" src="{% static 'svg/liked.svg' %}" />
                        {% else %}
                            <img class="like-icon like" src="{% static 'svg/like.svg' %}" />
                        {% endif %}
                    </button>
                </form>
                <span class="likes-count">{{ post.likes.all|length }}</span>
            </div>
        </div>
        {% if full %}
            <section class="comments-section">
                <form id="comment-form" class="add-comment" name="generic-form" action="">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="POST">
                    <input type="hidden" name="_after_action" value="reload">
                    {% if viewer.profile_image %}
                        <img class="profile-image" src="{{ viewer.profile_image }}"/>
                    {% endif %}
                    <textarea class="add-comment-text" name="comment" placeholder="Add a comment..."></textarea>
                    <button class="submit-comment" type="submit">Comment</button>
                </form>
                <!-- {#% for comment in post.comments %#}
                    <div class="post-comment">
                        <a href="" class="names">
                            {% if comment.author.profile_image %}
                            <img class="profile-image" src="{{ comment.author.profile_image }}"/>
                            {% endif %}
                            <h3 class="display-name">{{ comment.author.display_name }}</h3>
                        </a>
                        <span class="comment-content">{{ comment.comment }}</span>
                    </div>
                {#% endfor %#} -->
            </section>
        {% endif %}
    </footer>

</article>
