{# expects a post object as a models.Post subclass instance #}

{% load static %}
{% load check_liked %}
{% load check_interaction_eligibility %}

<article class="post-card{% if full %} post-full{% endif %}">
    {% if not full %}
        <a id="post-select" class="post-view" href="{% url 'posts:view_post' post.uuid %}?next={{ request.path|urlencode }}"></a>
    {% endif %}
    <header>
        {% url 'user_management:author_profile' post.author.uuid as author_url %}
        <a id="post-profile-select" href="{% if request.path == author_url %}{{ request.get_full_path }}{% else %}{{ author_url }}?next={{ request.get_full_path }}{% endif %}" class="names">
            {% if post.author.profile_image %}
            <img class="profile-image" src="{{ post.author.profile_image }}"/>
            {% endif %}
            <h3 class="display-name">{{ post.author.display_name }}</h3>
            {% if post.author.username %}
                <h5 class="username">{{ post.author.username }}</h5>
            {% endif %}
        </a>
        {% if post.author.host_node != viewer.host_node %}
            {% include 'external_node_select.html' with site_url=post.author.host_node.host_site_url host_url=post.author.host_node.host_url %}
        {% endif %}
        {% if not full %}
        ·
        {% include 'components/post-meta.html' %}

        {% include 'components/post-visibility.html' %}
        {% endif %}

        {% if post.author == viewer %}
        <div id="settings-dropdown-{{post.uuid}}" class="settings">
            <img class="settings-dropdown" src="{% static 'svg/dots.svg' %}"/>
            <div class="settings-dropdown-content" id="settings-dropdown-content-{{post.uuid}}">
                {% url 'posts:view_post' post.uuid as view_post_url %}
                <a class="setting-container edit-button" href="{% url 'posts:edit_post' post.uuid %}{% if request.path != view_post_url %}?next={% url 'posts:view_post' post.uuid %}{% endif %}{% if request.get_full_path != view_post_url %}?next={{ request.get_full_path }}{% endif %}">
                    <div class="setting">
                        <img class="edit-icon" title="Edit Post" src="{% static 'svg/editpost.svg' %}" />
                        Edit Post
                    </div>
                </a>
                <form class="setting-container" name="generic-form" action="{% url 'posts:api_posts-detail' post.uuid %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_after_action" value="url:{% url 'posts:stream' %} reload confirm">
                    <input type="hidden" name="_confirm_text" value="Are you sure you want to delete this post?">
                    <button type="submit" class="delete-button" id="delete-button-{{post.uuid}}">
                        <div class="setting delete">
                            <img class="delete-icon" title="Delete Post" src="{% static 'svg/delete.svg' %}" />
                            Delete Post
                        </div>
                    </button>
                </form>
            </div>
        </div>

        {% endif %}
    </header>

    <div class="post-content">
        {% if post.title %}
        <h2 id="post-title" class="post-title">{{ post.title }}</h2>
        {% endif %}
        {% if post.description %}
        <p id="post-description" class="post-description">{{ post.description }}</p>
        {% endif %}
        {% include post.get_template_name %} {# see posts.models.Post.get_template_name #}
    </div>

    <footer>
        {% if full %}
            <div class="post-info">
                {% include 'components/post-visibility.html' %}

                {% include 'components/post-meta.html' with full=True %}
            </div>
        {% endif %}
        {% check_interaction_eligibility viewer post as interactable%}
        <div class="likes-comments-share">
            <div class="comments-box">
                <img class="comments-icon" src="{% static 'svg/comment.svg' %}" />
                <span class="comments-count">{{post.comments.all|length}}</span>
            </div>
            <div class="likes-box">
                <form id="like-form" name="generic-form" action="{% url 'likes:like_by_viewer' post.fqid|urlencode:"" %}">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="POST">
                    <input type="hidden" name="_after_action" value="reload">
                    <button class="like-button" type="submit" {% if not interactable %}disabled{% endif %}>
                        {% check_liked viewer post as liked %}
                        {% if liked %}
                            <img class="like-icon liked" src="{% static 'svg/liked.svg' %}" />
                        {% else %}
                            <img class="like-icon like" src="{% static 'svg/like.svg' %}" />
                        {% endif %}
                    </button>
                </form>
                <span class="likes-count">{{ post.likes.all|length }}</span>
            </div>
            <div id="share-dropdown" class="share settings">
                <img class="settings-dropdown share-icon" src="{% static 'svg/share.svg' %}"/>
                <div class="settings-dropdown-content share-dropdown-content">
                    {% url 'posts:view_post' post.uuid as view_post_url %}
                    <a id="copy-button" class="copy-button setting-container">
                        {% if post.post_type == "PT" or post.post_type == "MD" %}
                            <input type="hidden" id="copy-contents" value="{{ post.content }}" />
                        {% elif post.post_type == "IMG" %}
                            <input type="hidden" id="copy-contents" value="{{ post.markdown_image_link }}" />
                        {% elif post.post_type == "VID" %}
                            <input type="hidden" id="copy-contents" value="{{ post.markdown_video_link }}" />
                        {% endif %}
                        <div class="setting">
                            <img class="copy-icon" title="Copy Contents" src="{% static 'svg/copy.svg' %}" />
                            <span id="copy-contents-field">
                            {% if post.post_type == "PT" or post.post_type == "MD"  %}
                            Copy Contents
                            {% elif post.post_type == "VID" %}
                            Copy Video Markdown
                            {% elif post.post_type == "IMG" %}
                            Copy Image Markdown
                            {% endif %}
                            </span>
                        </div>
                    </a>
                    {% if post.visibility_type == "PB" %}
                    <a id="link-button" class="edit-button setting-container">
                        <input type="hidden" id="copy-link" value="{{ post.get_absolute_url }}" />
                        <div class="setting">
                            <img class="link-icon" title="Copy Link" src="{% static 'svg/link.svg' %}" />
                            <span id="copy-link-field">Copy Link to Post</span>
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if full %}
            <section class="comments-section">
                {% if interactable %}
                    <form id="comment-form" class="add-comment" name="generic-form" action="{% url 'comments:internal_comment' post.fqid|urlencode:"" %}">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="_after_action" value="reload">
                        {% if viewer.profile_image %}
                            <img class="profile-image" src="{{ viewer.profile_image }}"/>
                        {% endif %}
                        <textarea class="add-comment-text" name="comment" placeholder="Add a comment..." id="add-comment-area"></textarea>
                        <button class="submit-comment" type="submit" id="submit-comment">Comment</button>
                    </form>
                {% endif %}
                {% for comment in post.comments.all %}
                    {% include 'components/comment-card.html' %}
                {% endfor %}
            </section>
        {% endif %}
    </footer>

</article>
