<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Social Distribution Admin Panel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'">
    <link id="_stylesheet" rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
    <main id="admin">
        {% if user.is_authenticated and user.is_staff %}
        <nav>
            <span>Welcome, {{ user.username }}</span>
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% else %}
        <p>You are not authorized to view this page, if you need to log out, use the button below:</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
        {% endif %}
    </main>
</body>

</html>