This is the admin panel for superusers
Welcome, {{ user }}
<br>
If you need to log out,
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
    <button type="submit">Log Out</button>
</form>

{# https://stackoverflow.com/questions/1465249/get-lengths-of-a-list-in-a-jinja2-template #}
<h1>Pending Join Requests ({{ requests_active|length }})</h1>
{% for join_request in requests_active %}
    <p>{{join_request.date_requested}}-{{ join_request.username }}</p>
    <form action="{% url 'adminpanel:api_join_request_approve' join_request.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Approve">
    </form>
    <form action="{% url 'adminpanel:api_join_request_deny' join_request.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Deny">
    </form>
{% endfor %}
<h1>Denied Join Requests ({{requests_denied|length}})</h1>
{% for join_request in requests_denied %}
    <p>{{ join_request.username }}</p>
    <form action="{% url 'adminpanel:api_join_request_undeny' join_request.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Undeny">
    </form>
    <form action="{% url 'adminpanel:api_join_request_delete' join_request.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Permanently Delete">
{% endfor %}