{# Expects an images list of adminpanel.models.HostedImage #}

{% extends 'admin_base.html' %}

{% block content %}
<h1>Hosted Images</h1>

<h2>Upload a New Image</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- TODO FIXME form does not exist anymore, we need a custom uploading solution -->
    {{ form.as_p }}
    <button type="submit">Upload Image</button>
</form>

<h2>Current Hosted Images</h2>
<ul>
    {% for image in images %}
    <li>
        <strong>{{ image.title|default:"(No Title)" }}</strong><br>
        <img src="{{ image.image.url }}" alt="{{ image.title }}" style="max-width:200px;"><br>
        <a href="{{ image.image.url }}" target="_blank">View Image URL</a><br>
        <small>Uploaded at: {{ image.uploaded_at }}</small>
        <form method="post" action="{% url 'adminpanel:delete_hosted_image' image.id %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </li>
    {% empty %}
    <li>No images have been hosted yet.</li>
    {% endfor %}
</ul>


{% endblock %}
