:root {
    --bg: rgb(18, 17, 20);
    --color: rgb(247, 247, 247);
    --color-sub: #7b7b7b;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: var(--bg);
    color: var(--color);
    font-family: sans-serif;
}

a:link {
    color: rgb(144, 141, 234);
}

a:visited {
    color: rgb(163, 134, 231);
}

a:link:active, a:visited:active  {
    color: rgb(254, 206, 248);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    background: #313131;
    border-radius: 10px;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
    background: firebrick;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 22, 22);
}

.success-message {
    position: absolute;
    background: firebrick;
    color: var(--color);
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: lighter;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    left: calc(50% - 230px / 2);
    top: 35px;
    width: 230px;
    font-size: 12px;
}

.errorlist {
    padding: 0;
    text-align: center;
    color: rgb(199, 40, 40);
    font-size: 12px;
}

.errorlist li {
    list-style: none;
}

.errorlist li::before {
  content: "*";
  padding-right: 8px;
  color: rgb(199, 40, 40);
}

/*
 ===========
  LOGIN
 ===========
*/
.login {
    display: block;
    height: 22px;
    padding: 14px 16px;
    border-radius: 10px;
    border: 1px solid firebrick;
    box-shadow: 0 0 0 9999px #222222 inset;
    color: firebrick !important;
    text-decoration: none;
    text-align: center;
}

.login:hover {
    box-shadow: 0 0 0 9999px #1f1f1f inset;
}

.login:focus {
    box-shadow: 0 0 0 9999px #1f1f1f inset;
}

.login:active {
    box-shadow: 0 0 0 9999px #313131 inset;
}

.login-page {
    padding: 0 5%;
    display: flex;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    gap: 10%;
}

.login-page#login {
    padding-bottom: 10%;
}

.login-page .left-panel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page .logo {
    min-width: 50px;
    width: 200px;
    filter: drop-shadow(3px 3px 1px rgb(247, 247, 247));
}

.login-page .title {
    position: relative;
    font-family: sans-serif;
    color: firebrick;
    font-size: 5em;
}

.login-page .title::after {
    content: "Firebrick";
    position: absolute;
    left: -20px;
    top: -20px;
    padding: 20px;
    color: firebrick;
    background: rgb(247, 247, 247);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-background-clip: text;
    filter: drop-shadow(1px 1px 1px rgb(247, 247, 247)) ;
}

.login-page .login-request {
    text-align: center;
}

.login-page .right-panel {
    min-width: 300px;
    max-width: 300px;
    background: #161519;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(54 54 54);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgb(255 255 255 / 10%), 0px 8px 16px rgb(255 255 255 / 10%);
}

.login-page .right-panel .join-request {
    text-align: center;
}

.login-page .right-panel form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-page .right-panel form input {
    height: 22px;
    padding: 14px 16px;
    border-radius: 10px;
    border: 1px solid #686868;
    box-shadow: 0 0 0 9999px #222222 inset;
    color: var(--color);
    caret-color: var(--color);
}

.login-page .right-panel form input[type="submit"] {
    box-shadow: 0 0 0 9999px firebrick inset;
    border: 0;
    height: 44px;
    cursor: pointer;
}

.login-page .right-panel form input:focus {
    outline: solid 2px firebrick;
}

.login-page .right-panel form input[type="submit"]:hover {
    box-shadow: 0 0 0 9999px rgb(159, 30, 30) inset;
}

.login-page .right-panel form input[type="submit"]:focus {
    outline: 0;
    box-shadow: 0 0 0 9999px rgb(199, 69, 69) inset;
}

.login-page .right-panel form input:-webkit-autofill{
    -webkit-text-fill-color: var(--color);
}

.login-page .right-panel .or-segment {
    margin: 30px 20px 0 20px;
    border: 1px solid #747474;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    padding: 0;
}

.login-page .right-panel .or-text {
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #a2a2a2;
}

.login-page#join-success .right-panel .or-text {
    padding: 0;
    font-size: 0;
}

.login-page#login {
    flex-direction: column;
    gap: 50px;
}

.login-page .field-wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.main {
    display: flex;
    min-height: 100%;
}

/*
 ===========
  NAVBAR
 ===========
*/
.navbar, .search-container {
    width: calc((100% - 600px) / 2);
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
}

.navbar-category {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-icon {
    width: 30px;
}

.navbar .names {
    margin: -10px;
    align-items: center;
    padding: 10px;
    margin-top: -30px;
    max-width: 100%;
}


.navbar .text-names {
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
}

.navbar .names .display-name {
    margin: 0;
    max-width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.navbar .names .username {
    margin: 0;
    max-width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.navbar .names:hover {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 20px;
}

.navbar-contents {
    padding: 20px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 170px;
    gap: 40px;
    height: 100%;
}

.navbar-contents .logo {
    width: 60px;
    filter: drop-shadow(3px 3px 1px rgb(247, 247, 247));
    margin-bottom: 14px;
}

.navbar-contents a {
    font-weight: bold;
    color: var(--color);
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.navbar-contents a:hover {
    text-decoration: underline;
}

.navbar-contents .logout-signup-container {
    margin-top: auto;
    margin-bottom: 50px;
}

.navbar-contents .logout-signup {
    background: firebrick;
    color: var(--color);
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

.navbar-contents .logout {
    height: 30px;
}

.navbar-contents .logout-signup:hover {
    background: rgb(117, 16, 23);
}

/*
 ===========
  STREAM
 ===========
*/
.content {
    margin-left: calc((100% - 600px) / 2);
    width: 600px;
    display: flex;
    position: relative;
}

.stream-container, .profile .post-list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-left: 1px solid #242729;
    border-right: 1px solid #242729;
    padding: 0 20px;
    flex-grow: 1;
    margin-bottom: 0;
}

.stream-container .stream-title {
    text-align: center;
}

.stream-container .post-card, .profile .post {
    width: 100%;
    list-style: none;
    overflow: visible;
    padding: 20px;
}

/*
 ===========
  POSTS
 ===========
*/
.post-card {
    position: relative;
}

.post-card .post-view {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}

.profile .post-card .post-view {
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    left: -20px;
    top: -20px;
}

.post-card .post-view:hover {
    background: white;
    opacity: 0.05;
}

.stream-container .post-card:not(:last-child), .profile .post:not(:last-child) {
    border-bottom: 1px solid #242729;
}

.post-card header {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-sub);
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.names {
    display: flex;
    gap: 10px;
    color: var(--color) !important;
    text-decoration: none;
    pointer-events: all;
}

.names:hover .display-name {
    text-decoration: underline;
}

.names .username {
    color: var(--color-sub);
}

.post-card .post-meta {
    display: flex;
    gap: 8px;
    pointer-events: all;
    align-items: center;
    color: var(--color-sub);
    font-size: 14px;
}

.post-card .post-meta .edit-pencil {
    width: 20px;
}

.post-card .visibility {
    margin-left: auto;
    width: 20px;
    pointer-events: all;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 6px;
    color: var(--color-sub);
    font-size: 14px;
}

.post-card footer .visibility {
    width: fit-content;
    margin-left: 0;
}

.post-card .visibility-icon {
    max-width: 100%;
}

.post-card footer .visibility-icon {
    width: 20px;
}

.post-card .settings {
    position: relative;
    pointer-events: all;
}

.post-card.post-full .settings {
    margin-left: auto;
}

.post-card .edit-icon {
    width: 20px;
}

.post-card .delete-icon {
    width: 20px;
}

.post-card .settings-dropdown {
    cursor: pointer;
    padding: 4px;
    border-radius: 10px;
    width: 20px;
}

.post-card .settings-dropdown:hover {
    background: rgb(72, 72, 92);
}

.post-card .settings-dropdown-content {
    position: absolute;
    visibility: hidden;
    right: 0;
    display: flex;
    margin-top: 2px;
    flex-direction: column;
    background: #161519;
    border: 1px solid #6e6e6e;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgb(255 255 255 / 10%), 0px 8px 16px rgb(255 255 255 / 10%);
}

.post-card .setting {
    gap: 6px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: var(--color);
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
}

.post-card .setting:first-child {
    border-radius: 10px 10px 0 0;
}

.post-card .setting:last-child {
    border-radius: 0 0 10px 10px;
}

.post-card .setting:hover {
    background: rgb(44, 45, 48);
}

.post-card .edit-button {
    text-decoration: none;
}

.post-card .delete-button {
    border: 0;
    background: 0;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
}

.post-card .setting.delete {
    color: #d91f2b;
}

.post-card .post-content img, #preview img {
    max-width: 100%;
    border-radius: 20px;
    border: 0.1px solid #242729;
    margin: 15px 0;
}

.post-card .post-content {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 2px;
    position: relative;
    z-index: 1;
}

.post-card .post-content:not(.post-full .post-content) {
    pointer-events: none;
}

.post-full {
    padding: 20px;
    height: fit-content;
    min-height: 100vh;
    box-sizing: border-box;
    border-left: 1px solid #242729;
    border-right: 1px solid #242729;
}

.post-card footer {
    position: relative;
    z-index: 1;
    margin-top: 6px;
    pointer-events: none;
}

.post-card footer .post-info {
    display: flex;
    gap: 6px;
}

.post-card .likes-comments {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.post-card .comments-box {
    display: flex;
    align-items: center;
    gap: 6px;
}

.post-card .comments-icon {
    width: 20px;
}

.post-card .likes-box {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.post-card .like-button {
    border: 0;
    background: 0;
    padding: 0;
    pointer-events: all;
    cursor: pointer;
}

.post-card .like-button:hover {
    filter: drop-shadow(0 0 5px firebrick);
}

.post-card .like-icon {
    width: 20px;
}

.post-card .markdown-container {
    text-align: center;
    width: 100%;
}

.post-card .post-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-card .markdown-box {
    pointer-events: all;
    width: 100%;
    background: none;
    color: var(--color);
    border: 0;
    text-align: center;
}

.post-full .likes-comments {
    margin: 20px 0 10px 0;
    padding: 12px;
    border-top: 1px solid #242729;
    border-bottom: 1px solid #242729;
}

#preview {
    background: #161519;
    border: 1px solid #6e6e6e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgb(255 255 255 / 10%), 0px 8px 16px rgb(255 255 255 / 10%);
}

/*
 ===========
  COMMENTS
 ===========
*/
.comments-section {
    margin: 0 -20px;
    pointer-events: all;
}

.add-comment {
    padding: 20px;
    border-bottom: 1px solid #242729;
    display: flex;
    align-items: center;
    gap: 20px;
}

.add-comment-text {
    flex-grow: 1;
    background: 0;
    border: 0;
    color: var(--color);
    overflow-y: hidden;
    resize: none;
    font-size: 16px;
    font-family: sans-serif;
}

.add-comment-text:focus-visible {
    outline: none;
}

.post-comment {
    padding: 20px;
    border-bottom: 1px solid #242729;
}

.submit-comment {
    background: firebrick;
    color: var(--color);
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

.submit-comment:hover {
    background: rgb(117, 16, 23);
}

/*
 ===========
  PROFILE
 ===========
*/
.profile {
    flex-direction: column;
    flex-grow: 1;
    display: flex;
}

.profile-image {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.profile .profile-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile .profile-image-and-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile .profile-image-and-name #author-profile-username {
    color: var(--color-sub);
    font-size: 14px;
}

.profile .profile-info {
    border-left: 1px solid #242729;
    border-right: 1px solid #242729;
    padding: 0 20px;
}

.profile .profile-button {
    background: firebrick;
    color: var(--color);
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    text-decoration: none;
}

.profile .profile-button:hover {
    background: rgb(117, 16, 23);
}

.profile .profile-button:disabled {
    background: rgb(115, 34, 34);
    color: #6e6e6e;
}

.profile .followers-list {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #242729;
    margin: 0 -20px;
}

.profile .bio {
    max-height: 8em;
    overflow-y: auto;
}

.profile .followers-list a {
    color: #6e6e6e;
    text-decoration: none;
}

.profile .followers-list .follower-number {
    color: var(--color);
}

.profile .followers-list .follower-type {
    font-size: 14px;
}

.profile .followers-list a:hover .follower-type {
    text-decoration: underline;
    color: var(--color);
}

.profile .followers-list .follower-clickable {
    display: flex;
    align-items: center;
    gap: 6px;
}

.profile .create-post {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.profile .post-list {
    margin-top: 0;
}

/*
 ===========
  MODIFY AUTHOR
 ===========
*/

#author-modification-form {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#author-modification-form .author-modify-content {
    flex-grow: 1;
    border-left: 1px solid #242729;
    border-right: 1px solid #242729;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
}

#author-modification-form .field-wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border: 1px solid #686868;
    border-radius: 10px;
    margin: 0 10px;
    background: #222222;
    padding: 14px 16px;
}

#author-modification-form label {
    color: var(--color-sub);
}

#author-modification-form input, #author-modification-form textarea {
    height: 22px;
    padding: 10px 0 0 0;
    border: 0;
    background: none;
    color: var(--color);
    caret-color: var(--color);
    resize: none;
    overflow-y: hidden;
    font-size: 16px;
    font-family: sans-serif;
}

#author-modification-form input:focus, #author-modification-form textarea:focus {
    outline: 0;
}

#author-modification-form .field-wrapper:focus-within {
    border-color: firebrick;
}

#author-modification-form .field-wrapper:focus-within label {
    color: firebrick;
}

#author-modification-form .field-wrapper.url input {
    font-family: monospace;
    font-size: 14px;
}

#author-modification-form input[type="submit"] {
    background: firebrick;
    border-radius: 20px;
    padding: 6px 12px;
    border: 0;
    height: 30px;
    cursor: pointer;
}

#author-modification-form input[type="submit"]:hover {
    background: rgb(159, 30, 30);
}

#author-modification-form input[type="submit"]:focus {
    background: rgb(199, 69, 69);
}

#author-modification-form input:-webkit-autofill{
    -webkit-text-fill-color: var(--color);
}

#author-modification-form .profile-image {
    outline: solid firebrick;
    background: firebrick;
}

/*
 ===========
  MEDIA
 ===========
*/
@media (max-width: 1200px) {
    .login-page#join {
        flex-direction: column;
        gap: 50px;
    }
    .login-page#join .right-panel {
        margin-right: 0;
    }
}
