{% extends "head.html" %}

{% load static %}

{% block title %}{% endblock %}

{% block body %}

<main class="login-page" id={% block id %}{% endblock %}>
    <section class="left-panel">
        <img class="logo" src="{% static 'images/firebrick.webp' %}" />
        <h1 class="title">Firebrick</h1>
    </section>
    <section class="right-panel">
        <h2 class="login-request">{% block registration_title %}{% endblock %}</h2>
        {% block registration_contents %}{% endblock %}
    </section>
</main>
{% endblock %}
