{% extends 'base.html' %}

{% load static %}

{% block title %}{{ author.user }}'s Profile{% endblock %}

{% block content %}
<main class="profile">
    <h2>This is the profile page for {{ author.user }}</h2>

    {% if viewer %}
    {% if author == viewer %}
    <p>This is your profile</p>
    {% else %}
    <p>This is not your profile</p>
            {% if is_following %}
                <form name="generic-form" action="{% url 'api:unfollow' author.uuid %}">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="POST">
                    <input type="hidden" name="_after_action" value="reload">
                    <button type="submit">Unfollow</button>
                    <div name="response-detail"></div>
                    <div name="errorresponse-error"></div>
                </form>
            {% else %}
                {% if follow_requests_pending %}
                    <button disabled>Follow Request Sent</button>
                {% else %}
                    <form name="generic-form" action="{% url 'api:send_follow_request' author.uuid %}">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="_after_action" value="reload">
                        <button type="submit">Follow</button>
                        <div name="response-detail"></div>
                        <div name="errorresponse-error"></div>
                    </form>
                {% endif %}
            {% endif %}
    {% endif %}

    <h3>{{ author.user }}'s Bio</h3>
    <p>{{ author.bio }}</p>

    <h3>
        <a href="{% url 'socialnetwork:followers_list' author.uuid %}">
            Followers ({{ followers|length }})
        </a>
    </h3>
    <h3>
        <a href="{% url 'socialnetwork:following_list' author.uuid %}">
            Following ({{ following|length }})
        </a>
    </h3>
    <h3>
        <a href="{% url 'socialnetwork:friends_list' author.uuid %}">
            Friends ({{ friends|length }})
        </a>
    </h3>

    <a href="{% url 'socialnetwork:author_create_post' %}" class="create-post">Create Post</a>

    <h3>Posts by {{ author.user }}</h3>

    {% if posts %}
    <ul class="post-list">
        {% for post in posts %}
        <li class="post">
            {% include 'components/post_card.html' %}

            {# Show the Delete button only if the author is the viewer #}
            {% if author == viewer %}
            <form name="generic-form" action="{% url 'socialnetwork:api_post_delete' post.uuid %}">
                {% csrf_token %}
                <input type="hidden" name="_method" value="POST">
                <input type="hidden" name="_after_action" value="reload confirm">
                <input type="hidden" name="_confirm_text" value="Are you sure you want to delete this post?">
                <button type="submit" class="delete-button">Delete</button>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No posts available.</p>
    {% endif %}
</main>

<script src="{% static 'scripts/posts.min.js' %}"></script>
<script src="{% static 'scripts/markdown-renderer.min.js' %}"></script>
{% endblock %}
