{% extends 'base.html' %}

{% block title %}{{ author.user }}'s Profile{% endblock %}

{% block content %}
<main class="profile">
    <h2>This is the profile page for {{ author.user }}</h2>

    {% if viewer %}
        {% if author == viewer %}
            <p>This is your profile</p>
        {% else %}
            <p>This is not your profile</p>
        {% endif %}
    {% endif %}

    <h3>{{ author.user }}'s Bio</h3>
    <p>{{ author.bio }}</p>

    <a href="{% url 'socialnetwork:author_create_post' %}" class="create-post">Create Post</a>

    <h3>Posts by {{ author.user }}</h3>

    {% if posts %}
        <ul class="post-list">
            {% for post in posts %}
            <li class="post">
                {% include 'components/post_card.html' %}

                {# Show the Delete button only if the author is the viewer #}
                {% if author == viewer %}
                    <form method="post" action="{% url 'socialnetwork:api_post_delete' post.uuid %}" onsubmit="return confirm('Are you sure you want to delete this post?');">
                        {% csrf_token %}
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts available.</p>
    {% endif %}
</main>
{% endblock %}

