{% extends "head.html" %}
{% load static %}

{% block body %}
<body>
    <section class="main">
        <div class="navbar">
            <section class="navbar-contents">
                <img class="logo" src="{% static 'firebrick.webp' %}" />

                {% if user.is_authenticated %}
                    <a href="{% url 'socialnetwork:author_profile' user.author.uuid %}" class="names">
                        {% if user.author.profile_image %}
                        <img class="profile-image" src="{{ user.author.profile_image }}"/>
                        {% endif %}
                        <span class="text-names"><h3 class="display-name">{{ user.author.display_name }}</h3>
                        <h5 class="username">{{ user.author.username }}</h5></span>
                    </a>
                    {% if user.is_superuser %}
                        <a class="navbar-category" href="{% url 'adminpanel:adminpanel' %}"><img class="navbar-icon" src="{% static 'svg/admin.svg' %}"/> <span class="navbar-title">Admin Panel</span></a>
                    {% endif %}
                {% else %}
                    <span>Not logged in</span>
                {% endif %}
                <a class="navbar-category" href="{% url 'socialnetwork:stream' %}"><img class="navbar-icon" src="{% static 'svg/home.svg' %}"/> <span class="navbar-title">Home</span></a>
                {% if viewer %}
                    <a class="navbar-category" href="{% url 'socialnetwork:follow_requests_page' %}">
                        <img class="navbar-icon" src="{% static 'svg/followrequests.svg' %}"/>
                        <span class="navbar-title">
                            Follow Requests<span id="follow-request-count"></span>
                        </span>
                    </a>
                {% endif %}
                <form class="logout-container" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="logout" type="submit">Log Out</button>
                </form>
            </section>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        {% if request.path == '/stream' %}
            <div id="search-container">
                <form id="search-form">
                    <input type="text" id="search-input" placeholder="Search users...">
                    <button type="submit">Search</button>
                </form>
                <div id="search-results"></div>
            </div>
        {% endif %}

        <script src="{% static 'scripts/search.js' %}"></script>
        <script src="{% static 'scripts/follow_requests.js' %}"></script>
        {% block script %}{% endblock %}
    </section>
</body>
{% endblock %}
