{% extends "base.html" %}

{% load static %}

{% block content %}
<h2>Edit Post</h2>
<form method="POST", action="{% url 'socialnetwork:api_post_update' post.uuid %}">
    {% csrf_token %}

    <label for="content">Edit Content:</label><br>
    <textarea name="content" id="content" rows="5" cols="50">{{ post.content }}</textarea><br><br>

    <label for="post_type">Select Format:</label>
    <select name="post_type" id="post_type">
        <option value="PT" {% if post.post_type=="PT" %}selected{% endif %}>Plain Text</option>
        <option value="MD" {% if post.post_type=="MD" %}selected{% endif %}>Markdown</option>
    </select>

    <br><br>
    <button type="submit">Save Changes</button>
</form>

<h3>Preview</h3>
<div id="preview"></div>
<script src="{% static 'scripts/markdown-editor.min.js' %}"></script>
{% endblock %}
