<!DOCTYPE html>

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'">
    <link id="_stylesheet" rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>Firebrick {% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>{% block body %}{% endblock %}</body>

</html>