{# Expects: #}
{#    author: a socialnetwork.models.Author object that is the author to display #}
{#    viewer_author(optional): a socialnetwork.models.Author object that is the author viewing the page #}

<div class="author-card">
    <h3>{{author.user.username}}
        {% if viewer_author == author %}
        (You)
        {% endif %}
    </h3>
    <a href="{% url 'socialnetwork:author_profile' author.uuid %}">Profile</a>
    <a href="{% url 'socialnetwork:author_modify' author.uuid %}">Modify</a>
    <!-- <form action="{# url 'adminpanel:author_delete' author.uuid %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form> -->



</div>