{# expects a join_request object that is an adminpanel.models.AuthorJoinRequest #}

<div class="join-request-card {{join_request.css_status}}">
    <p>{{join_request.date_requested}}-{{ join_request.username }}</p>
    {% if join_request.is_denied %}
    {# show the delete/undeny buttons #}
    <form name="generic-form" action="{% url 'adminpanel:api_join_request_undeny' join_request.pk %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="POST">
        <input type="hidden" name="_after_action" value="reload">
        <input type="submit" value="Undeny">
    </form>
    <form name="generic-form" action="{% url 'adminpanel:api_join_request_delete' join_request.pk %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="POST">
        <input type="hidden" name="_after_action" value="reload">
        <input type="submit" value="Permanently Delete">
        {% else %}
        {# show the approve/deny buttons #}
        <form name="generic-form" action="{% url 'adminpanel:api_join_request_approve' join_request.pk %}">
            {% csrf_token %}
            <input type="hidden" name="_method" value="POST">
            <input type="hidden" name="_after_action" value="reload">
            <input type="submit" value="Approve">
        </form>
        <form name="generic-form" action="{% url 'adminpanel:api_join_request_deny' join_request.pk %}">
            {% csrf_token %}
            <input type="hidden" name="_method" value="POST">
            <input type="hidden" name="_after_action" value="reload">
            <input type="submit" value="Deny">
        </form>
        {% endif %}

</div>
